    a,
    a :active {
    text-decoration: none;
    color: #666;
   }
    header {
    position: fixed; /* Фиксированное позиционирование */
    left: 0; right: 0; /* Вся ширина */
    top: 0; /* Положение сверху */
    padding: 10px; /* Поля вокруг текста */
    background: #9fbbd3; /* Цвет фона */
    color: rgb(0, 0, 0); /* Цвет текста */
   }
   header h1  {
    margin: 0; /* Убираем отступы */
    text-align: center;
    font-family: 'Cairo';  
   }
   header h3  {
    margin: 0; /* Убираем отступы */
    text-align: center;
    font-family: 'Cairo';
   }
   main {
    min-height: 1000px; /* Минимальная высота */
    margin-top: 150px; /* Отступ сверху */
    display: block; /* Для IE */
   }
   header nav {
    margin: 0; /* Убираем отступы */
    text-align: center;
    font-family: 'Cairo';
   }
   main td {
     text-align: center;
     font-family: "Cairo";
   }
   footer {
    position: relative; /* Фиксированное позиционирование */
    left: 0; right: 0; /* Вся ширина */
    bottom: 0; /* Положение сверху */
    padding: 10px; /* Поля вокруг текста */
    background: #4b555e; /* Цвет фона */
    color: rgb(0, 0, 0); /* Цвет текста */
   }
   footer div.reg { 
       text-align: right;  
       color: rgb(0, 0, 0);             /*Information in footer */
       font-family: "Cairo";
       font-size: 150%;
   }
   footer div.pic {
       text-align: left ;
   }
   footer div.res { 
    text-align: center;  
    color: rgb(0, 0, 0);             /*Information in footer */
    font-family: "Cairo";
    font-size: 150%;
}
a.anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}