header {
    position: fixed; /* Фиксированное позиционирование */
    left: 0; right: 0; /* Вся ширина */
    top: 0; /* Положение сверху */
    padding: 10px; /* Поля вокруг текста */
    background: #3989c9; /* Цвет фона */
    color: #fff; /* Цвет текста */
   }
   header h1 {
    margin: 0; /* Убираем отступы */
    justify-content: center;
   }
   main {
    min-height: 1000px; /* Минимальная высота */
    margin-top: 70px; /* Отступ сверху */
    display: block; /* Для IE */
   }